.btnSalvaNovoProduto {
    margin: 10px 10px 10px 10px;
}

.btnCancelaNovoProduto {
    padding: 0px 10px 0px 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.inputs {
    border-radius: 8px;
    height: 30px;
}

.novoProdutoCorpo {
    color:  #6e726f;
    padding: 2rem;
}

.tituloNovoProduto {
    margin: auto;
    font-size: 2rem;
}