/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue {
    color:rgb(79, 124, 179);
}

.green {
    font-weight:bolder;
    color: #23ac61;
}

.gray {
    color: #6e726f;
}

.v-middle {
    vertical-align:middle;
}